<div class="container-fluid">
  <div class="header d-flex justify-content-between my-2">
    <h2>Tasks List</h2>
    <button class="btn btn-primary" (click)="addTasks()">Add Tasks</button>
  </div>
  @for(task of todos(); track task.id) {
  <div class="card col-md-12 mb-2" (click)="fetchDetails(task.id)">
    <div class="card-header">
      <h2 class="card-title">{{ task.taskName }}</h2>
    </div>
    <div class="card-body">
      <p>{{ task.todo }}</p>
    </div>
    <div class="card-footer">
      @if(task.completed) {
      <p>Completed</p>
      } @else {
      <p>Not completed</p>
      }
    </div>
  </div>
  }
</div>
